body {
	margin: 0px;    /* Убрать рамки по краям */
}





.header {
	width: 100%;    /* Ширина шапки */
	position: absolute;    /* Позиция */
	padding-top: 20px;
	top: 0;    /* Растояние от верха */
	left: 0;    /* Растояние слева */
	right: 0;    /* Растояние справа */
}

.header__main {
	text-decoration: none;
	color: #ffffff;    /* Цвет */
	font-size: 25px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	background-color: #1d1d23;
	border: 5px solid #1d1d23;
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
}

.header__all {
	margin-top: 5px;
	margin-right: 50px;
}


.header__all__des {
	text-decoration: none;
	color: #ffffff;    /* Цвет */
	font-size: 25px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	background-color: #1d1d23;
	border: 5px solid #1d1d23;
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
}


.intro {
	display: flex;				/* Выравнивание по центру */
	flex-direction: column;		/* Выравнивание по центру */
	justify-content: center;	/* Выравнивание по центру */
	width: 100%;    /* Задний фон на всю ширину */
	height: 100vh;    /* Задний фон на всю высоту сайта */
	background: url(../images/bg.jpg) center no-repeat;    /* Картинка на задний фон */
	-webkit-background-size: cover;
	background-size: cover;    /* Покрыть весь эран */
}


.container {
	width: 100%;    /* Ширина контейнера */
	max-width: 90%;    /* Ширина контейнера в пикселях */
	margin: 0px auto;    /* Разместить контейнер по центру */
	display: flex;
	justify-content: space-between;
}


.photo {
	width: 100%;    /* Ширина контейнера */
	max-width: 700px;    /* Ширина контейнера в пикселях */
}


.photo__up {
	text-align: center;    /* Позиция */
	margin-bottom: 25px;
}


.photo__down {
	text-align: center;    /* Позиция */
	display: flex;
	justify-content: space-between;
}


.link {
	width: 320px;
	border: 5px solid #ffffff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}


.link:hover {
	border: 5px solid #e0e5e9;
	border-radius: 5px;
}


.logo {
	width: 100%;    /* Ширина контейнера */
	max-width: 650px;    /* Ширина контейнера в пикселях */
	text-align: center;
}


.logo__up {
	color: #1d1d23;    /* Цвет */
	font-size: 35px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	margin-top: 30px;
	margin-bottom: 30px;
}


.logo__logo {
	width: 100%;
}


.logo__center__up {
	color: #1d1d23;    /* Цвет */
	font-size: 45px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	margin-bottom: 10px;
}


.logo__center {
	color: #1d1d23;    /* Цвет */
	font-size: 15px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	margin-bottom: -20px;
}


.logo__down {
	color: #1d1d23;    /* Цвет */
	font-size: 20px;    /* Размер */
	font-weight: 700;    /* Насыщенность */
	font-family: 'Lobster', cursive;
	margin-bottom: 0px;
}